.App {
  text-align: center;

}

div.navbar {
  float: left;
  width: 100vw;
  height: 10vh;
  background: orangered;
  color: white;
  border-bottom: 2px solid white;
}

.sidebar {
  float: left;
  width: 30vw;
  height: 90vh;
  background: green;
  color: white;
}

.main-content {
  width: 70vw;
  float: left;
  height: 90vh;
  background: lightgray;
  color: black;
}